.balances {
  display: flex;
  flex-direction: row;
  .balances__item {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-right: 25px;
    display: column;
    align-items: center;
    box-shadow: 0 0 5px #DDD;
    img {
      margin-right: 10px;
      grid-area: icon;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 5px;
    }
    h2 {
      color: #AAA;
      font-weight: 300;
    }
  }
}