.savingsAccount {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 25px;
  h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 18px;
    line-height: 1.3em;
  }
  img {
    margin-right: 10px;
  }
  strong {
    font-weight: 600;
  }
}